/* Body & Typography */
body {
    font-family: Arial, sans-serif;
    background-color: #500202; /* dark background */
    color: #140101; /* white text */
    margin: 0;
    padding: 20px;
    max-width: 900px;
}

h1, h3 {
    text-align: left;
    margin: 0;
    padding: 0;
    color: #ff2e2e; /* dark red for name and hi */
}

section {
    margin: 30px 0;
}

/* Buttons */
button {
    background-color: #8e0000; /* dark red button */
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color:#8e0000; /* brighter red on hover */
    transform: scale(1.05);
}

button:active {
    background-color: #8e0000; /* darker red on click */
    transform: scale(0.95);
}

/* Inputs and textarea */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ff2e2e;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

input::placeholder, textarea::placeholder {
    color: #ff9999;
}

/* Form styling */
form {
    background-color: #111111; /* dark form background */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ff2e2e;
}

a {
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    body {
        padding: 15px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
